*{
    font-family: 'Nunito', sans-serif;
}
body{
    background: #360033;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0b8793, #360033);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0b8793, #360033); 
    
    
    
  }
 nav{
    background: #360033;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0b8793, #360033);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0b8793, #360033); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
 }

 nav p{
    text-align: right;
    color:rgb(255, 253, 253);
    
    margin-top: 10px;
    
 }
 #Banner {
    position: relative;
    height: 100vh;
    min-height: 450px;
    max-height: 1080px;
    background: url('../Parking/img/banner.jpg');
    background-size: cover;
    padding: 15px;
    padding-top: 90px;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;

}
  
  h2{
    text-align: center;
    color: rgb(255, 253, 253);
  }
  .boton{
    text-align: center;
  }
 
  .imagenes1{
    width:50%;
    margin-top: 5px;
    margin-bottom: 5px;
   
  }
 
  
  #education {
    padding: 50px 15px 20px 15px;
    
    text-align: center;
    
  }
  
  #education h1 {
    color: #fafafa;
    margin-bottom: 50px
  }
  
  .education-block {
    background-color: rgb(48, 47, 46);
    max-width: 700px;
    margin: 0 auto 30px auto;
    padding: 15px;
    border: 1px solid #c78fc7;
    text-align: center;
   
    border-radius: 14px;
    
    border: 1px solid transparent;
  }
  
  .education-block h3 {
    font-weight: 500;
    float: center;
    margin: 0;
    color: #000000;
    font-family: 'Raleway', sans-serif;
  }
  
  .education-block span {
    color: #0b0c0c;
    float: right
  }
  
  .education-block p {
    color: #202020;
    clear: both;
    font-weight: 500;
    margin: 0 0 15px 0;
    font-family: 'Raleway', sans-serif;
  }
  
  .education-block p,
  .education-block ul {
    margin: 0;
    color: #74808a;
    font-size: 0.9em
  }
  
  .education-block ul {
    padding: 0 0 0 15px
  }
  
  h1{
    display: inline;
    font-family: 'Raleway', sans-serif;
    
  }

img{
  border-radius: 30px;
}

